.main_input{
    border-radius: 2rem;
    border: 0;
}
body{
    overflow-x: hidden;
    padding-bottom: 3vh;
}
@media (max-width: 950px) {
    .response_area{
        width: 75vw;
    }
    .country_flag{
        width: 100%;
        border: 0;
    }header{
        width: 85vw;
    }
}
@media (max-width: 750px){
    .response_area{
        width: 60vw;
    }
    .response_area{
        display: grid;
        grid-template-columns: 1fr;
    }
    .country_flag{
        height: 20vh;
    }
    .details_area{
        height: 27vh;
    }
    header{
        width: 85vw;
    }
    .input_area{
        grid-template-columns: 1fr;
        grid-gap: 1vh;
        text-align: center;
    }
    .main_input{
        width: 100%;
    }
    .weather{
        width: 50%;
        margin: 1vh auto;
    }
}

@media (max-width: 550px) {
    .app_header{
        font-size: 2rem;
    }
    header p{
        font-size: 1.2rem;
    }
    body{
        padding-bottom: 3vh;
    }
    footer{
        font-size: 1.5rem;
    }
    .response_area {
        width: 70vw;
    }
    .country_flag{
        width: 100%;
        border: 0;
        height: 100%;
    }
    .details_area{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .response_area{
        width: 80vw;
    }
}

@media (max-width: 370px) {
    .app_header{
        font-size: 1.5rem;
        margin: 1vh 0;
    }
    header p{
        font-size: 1.2rem;
    }
    footer{
        font-size: 1.2rem;
    }
    .main_temp{
        font-size: 3rem;
    }
    .forecast_description{
        font-size: 1.5rem;
    }
}

