:root{
    --color-neutral: black;
    --color-plane: white;
    --brand-color: slateblue;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/ice2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', serif;
}
main{
    text-align: center;
}
header{
    margin: 2vh auto;
    padding: 2vh 0;
}
header p{
    font-size: 1.6rem;
}
