:root{
    --color-neutral: black;
    --color-plane: white;
    --brand-color: slateblue;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/WhatsApp Image 2022-07-26 at 20.14.07.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Slab', serif;
}
main{
    text-align: center;
}
header{
    margin: 2vh auto;
    padding: 2vh 0;
}
header p{
    font-size: 1.6rem;
}
.app_header{
    font-size: 3rem;
    text-transform: uppercase;
}
.main_input{
    padding: 0.8vh;
    font-size: 1.2rem;
    width: 70vw;
    grid-gap: 1vw;
}
.input_area{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80vw;
    margin: 2vh auto;
}
.weather{
    padding: 2vh 2vw;
    border-radius: 2rem;
    border: 0;
    background-color: var(--brand-color);
    color: var(--color-plane);
    text-transform: uppercase;
    font-weight: bolder;
}
.country_flag{
    width: 26vw;
    height: 35vh;
    border: 2rem solid white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.822);
    box-sizing: content-box;
}
.details_area{
    /* background-color: white; */
    width: 100%;
    height: 100%;
    /* color: black; */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.forecast_wrapper{
    align-self: center;
    align-content: center;
}
.display_result{
    margin: 5vh auto;
    margin-bottom: 8vh;
}
.response_area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    background-color: white;
    width: 60vw;
    margin: 2vh auto;
}
.main_temp{
    font-size: 5rem;
}
.forecast_description{
    font-size: 1.8rem;
}


footer{
    font-size: 2rem;
}
footer a{
    color: var(--color-neutral);
    /* text-decoration: none; */
}
